.grid-container{
    display: grid;
    grid-template-columns:  1fr 15% 15% 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr 1fr;
}
.players-background{
    min-width: 40vw;
    min-height: 40vh;
    z-index: -1;
}
.background-left{
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
    background-color: #f5487f;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
.background-right{
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
    background-color: #c7417b;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.player-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.player-2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

div.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;

}
.player-header{

}
.curr-score-1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}
.curr-score-2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.points{
    width: fit-content;
    height: fit-content;
    font-size: 28px;
}
.points-1{

}
.points-2{

}

/* Buttons */
.dice{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
.hold{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
button.fit{
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
}