.grid-container{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    position: relative;
}
section{
    position: relative;
    min-width: 40vw;
    min-height: 80vh;
    z-index: -1;
}
.section-left{
    background-color: #f5487f;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;
}
.section-right{
    background-color: #c7417b;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

div.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black;
    width: 20rem;
    height: 10rem;
    top: 3rem;
    left: 4rem;
    position: absolute;
}
.player-header{
}
.points-1{

}
.points-2{

}
.points{
    width: fit-content;
    height: fit-content;
    font-size: 28px;
}

@media (min-width: 1000px){
    .grid-container{
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
        position: relative;
    }
    section{
        position: relative;
        min-width: 40vw;
        min-height: 80vh;
        z-index: -1;
    }
    .section-left{
        background-color: #f5487f;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    .section-right{
        background-color: #c7417b;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    div.player{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid black;
        width: 20rem;
        height: 10rem;
        top: 2rem;
        left: 14rem;
        position: absolute;
    }
    
    .player-header{
    }
    .points-1{
    
    }
    .points-2{
    
    }
    .points{
        width: fit-content;
        height: fit-content;
        font-size: 28px;
    }
}

  