body{
    /* background-image: linear-gradient(to right, #ea3c73 , #c7417b); */
}
.grid-container{
    display: grid;
    grid-template-columns: 3% 25% 10% 0.6fr 0.8fr 10% 25% 3%;
    grid-template-rows: 5% 5% 1fr 1fr 15% 15% 15% 1fr 0.2fr 1fr 1fr 5%;
}
.players-background{
    min-width: 40vw;
    min-height: 40vh;
    z-index: -1;
}
.background-left{
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
    background-color: #f5487f;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 12;
}
.background-right{
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)); */
    background-color: #c7417b;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 12;
}

.player-1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.player-2{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

div.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-score-1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 10;
}
.current-score-2{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 10;
}

.points{
    width: fit-content;
    height: fit-content;
    font-size: 28px;
}
.points-1{

}
.points-2{

}

/* Buttons */
.new-game{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-left: 3rem;   

}
img#new-game{
    width: 20px;
    height: 20px;
}
.dice{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
    margin-left: 3rem;   

}
img#dice{
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

.hold{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 10;
    margin-left: 6rem;   
}
img#hold{
    width: 16px;
    height: 16px;
    margin-left: 0.5rem;
}
.fit{
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 1rem;
    border: none;
}

.roller-dice-1{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-left: 4rem;
}
.roller-dice-2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    margin-left: 4rem;

}


section.roller-dice-1 div, section.roller-dice-2 div{
    
}

section.roller-dice-1 div img, section.roller-dice-2 div img{
    width: 100px;
    height: 100px;
}